@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

html, body {
  font-family: 'Inter', sans-serif !important;
}

#page-title::after {
  background-color: #6966FF;
}

.button-bar #review-and-sign-btn {
  background-color: #6966FF;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.button-bar #finish-btn {
  background-color: #6966FF;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#download-file-btn {
  background-color: #6966FF;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.button-bar .forge-submit {
  background-color: #6966FF !important;
  color: white !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.button-bar .ant-btn {
  background-color: #6966FF !important;
  color: white !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.ant-select-selector {
  border: 1px solid #D0D5DD !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}