@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

html, body {
  font-family: 'Inter', sans-serif !important;
}

.ant-btn {
  background-color: #6966FF !important;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ant-btn:hover {
  background-color: #3733FF !important;
}

.blcGWc::after {
  display: none;
}